*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.page {
    width:100vw;
    height:100vh;
    background-color: rgb(223, 206, 185);
}
nav {
    width:100vw;
    height: 10vh;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px black;
}
a {
    text-decoration: none;
    font-size: 2vh;
    font-weight: 500;
    color: brown;
}
.links {
    border: 3px solid brown;
    border-radius: 20px;
    width: 15vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.7s;
    box-shadow: 0 0 5px black;
}
span.links {
    background-color: burlywood;
    border: 3px solid brown;
    border-radius: 20px;
    width: 15vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.7s;
    box-shadow: 0 0 5px black;
}
.links:hover {
    border: 3px solid brown;
    border-radius: 20px;
    width: 15vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 206, 185);
}
.links:hover a{
    color: brown;
}
.main {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.main p {
    font-size: xx-large;
    font-weight: 700;
    color: brown;
}
article.main p {
    font-size: larger;
    font-weight: 400;
    color: brown;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    background-color: brown;
    height: 2px;
    width: 30vw;
}
.empty {
    width: 100vw;
    height: 50vh;
}
footer{
    width: 100vw;
    height: 19vh;
    display: flex;
    align-items: center;
}
p.footer {
    color: brown;
    font-size: medium;
    font-weight: 200;
}
div.edge {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.table {
    width:50vw ;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border: 3px solid brown;
    border-collapse: collapse;
    box-shadow: 0 0 5px black;
}
th,td{
    border: 2px solid brown;
    border-collapse: collapse;
    padding: 2.5vh 2.5vw;
}
th,td{
    color: brown;
}
tr.color {
    background-color: burlywood;
    box-shadow: 0 0 2px black;
}
label {
    display: block;
    color: brown;
}
input {
    border: 2px solid brown;
    border-radius: 20px;
    width: 40vw;
    transition-duration:0.7s ;
}
input:focus {
    border: 2px solid brown;
    box-shadow: 0 0 0 2px rgba(165, 43, 43,0.7);
    border-radius: 20px;
    width: 40vw;
    outline: 0;
}
#note {
    height: 14vh;
}
.form {
    margin-bottom: 2rem;
}
button{
    color: brown;
    border: 2px solid brown;
    padding: 1rem;
    border-radius: 20px;
    background-color: burlywood;
    transition-duration: 0.7s;
}
button:hover{
    color: brown;
    border: 2px solid brown;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(223, 206, 185);
}